*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

.card-container{
    width: fit-content;
    height: fit-content;
    margin: 25px 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.card-image{
    width: 200px;
}