.cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

@media (max-width: 800px){
    .cards-container{
        grid-template-columns: 1fr;
        justify-items: center;
    }
}