.card-container{
  margin-top: 2em;
  max-width: 300px;
  text-align: center;
  word-wrap: break-word;
  overflow: hidden;
  border-radius: 10px;
  background-color: #F8F8F8;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 10);
}

.card-image{
  margin: 0;
  width: 100%;
}

.card-title{
  padding: 0.4em 0;
  font-weight: 500;
}

.card-text{
  font-weight: 300;
  text-align: left;
}

.card-destroyer{
  z-index: 1;
  cursor: pointer;
}