.card-container{
  display: grid;
  margin-top: 2rem;
  max-width: 300px;
  text-align: center;
  word-wrap: break-word;
  overflow: hidden;
  border-radius: 10px;
  background-color: #F8F8F8;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 10);
}

.card-image{
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  margin: 0;
  width: 100%;
}

.card-title{
  padding: 0.4rem 0;
  font-weight: 500;
}

.card-text{
  font-weight: 300;
  text-align: left;
}

.card-destroyer, .card-edit{
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
  justify-self: flex-end;
  margin: 0.5rem 0.5rem 0 0;
  color: rgb(127, 127, 127);
  cursor: pointer;
  transition: ease 0.2s;
}

.card-destroyer:hover{
  background-color: #ff8282d3;
  color: black;
  border-radius: 100%;
}

.card-edit{
  justify-self: flex-start;
  margin: 0.5rem 0 0 0.5rem;
}

.card-edit:hover{
  background-color: #82ffff;
  color: black;
  border-radius: 100%;
}