.form-container{
  width: fit-content;
  margin-top: 60px;
  border: 1px solid black;
  border-radius: 5px;
  display: grid;
  text-align: center;
}

input, textarea{
  width: 80%;
  margin: 10px 50%;
  transform: translateX(-50%);
}

label{
  font-weight: 500;
  text-transform: uppercase;
}

button{
  width: 100px;
  padding: 2px 0;
  margin: 20px 50%;
  transform: translateX(-50%);
  background-color: #57d8fb;
  border: 1px solid #57d8fb;
  border-radius: 5px;
  box-shadow: 0px 2px 2px black;
  cursor: pointer;
  transition: ease 500ms;
}

button:hover, .form-file-label:hover{
  transform: translateY(-5px) translateX(-50%);
  transition: ease 500ms;
  background-color: #ffd000;
  border-color: #ffd000;
  box-shadow: 0px 6px 4px black;
}

button:active, .form-file-label:active{
  transform: translateY(5px) translateX(-50%);
  transform: linear 1ms;
  box-shadow: 0px -1px 2px black;
}

.form-file{
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.form-file-label{
  width: fit-content;
  margin: 30px 50%;
  padding: 1px 5px;
  transform: translateX(-50%);
  border: 5px solid #9ae9ff;
  border-radius: 5px;
  background-color: #9ae9ff;
  box-shadow: 0px 2px 2px black;
  cursor: pointer;
  transition: ease 400ms;
}
