*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    background-origin: #f8f8f8;
}

.App{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}